<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <filter>
  	<filter-name>ManagerFilter</filter-name>
  	<filter-class>it.cast.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ManagerFilter</filter-name>
  	<url-pattern>/web/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>TeacherFilter</filter-name>
  	<filter-class>it.cast.filter.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TeacherFilter</filter-name>
	<url-pattern>/TeacherWeb/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>it.cast.servlet.Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>it.cast.servlet.BServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>it.cast.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateData</servlet-name>
    <servlet-class>it.cast.servlet.updateData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toExcelServlet</servlet-name>
    <servlet-class>it.cast.servlet.toExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>it.cast.servlet.exitServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateData</servlet-name>
    <url-pattern>/updateData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toExcelServlet</servlet-name>
    <url-pattern>/toExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
